// Aliases

:root {
  // Colors
  --color-white: var(--white);
  --color-slate--light: var(--slate-300);
  --color-slate--medium: var(--slate-500);
  --color-slate--dark: var(--slate-900);

  // Typography
  --default-font-size: 15px;
  --primary-font-family: 'Outfit';
  --font-weight--normal: 400;
  --font-weight--bold: 700;
}