// Primitives

:root {
  // Colors
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  // Typography
  --size-15: 15px;
  --font-family-outfit: 'Outfit';
  --font-weight-400: 400;
  --font-weight-700: 700;
}