@use 'imports';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--page-bg-color);
  color: var(--text-color-white);
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family), sans-serif;
  gap: var(--padding-16);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--page-link-text-color);
}

[data-mode='light'] {
  --page-bg-color: var(--bg-color-slate--light);
  --page-text-color: var(--text-color-slate--medium);
  --page-link-text-color: hsl(228, 45%, 44%);
}

[data-mode='dark'] {
  --page-bg-color: var(--bg-color-slate--dark);
  --page-text-color: var(--text-color-white);
  --page-link-text-color: var(--text-color-white);
}
